@media screen and (min-width: 768) {
  .contacts {
    display: flex;
    align-items: center;
  }

  .contacts__link {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-text-main);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }

  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts__link:hover &,
    .contacts__link:focus & {
      color: var(--color-accent);
    }
  }

  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}
