@media screen and (min-width: 768px) {
  .pagination {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .pagination__link.current {
    color: var(--color-accent);
  }
}

@media screen and (min-width: 768px) {
  .pagination__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .pagination__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// color: var(--color-text-major);
// text-decoration: none;

// transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
// &:focus {
//   color: var(--color-accent);
// }
