.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
  }
}

.logo--dark {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: inline-block;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);
  }

  .link--fixed-size {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .main-nav {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: auto;
  }

  .logo__header {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
}
