.hero {
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-dark);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/Header480x400.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/Header480x400-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
    background-size: 768px 400px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/Header768x400.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/Header768x400-2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    min-height: 600px;
    background-size: 1600px 600px;
    background-position: center;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/Header1600x600.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/Header1600x600-2x.jpg);
    }
  }
}

.hero__content {
  width: calc(100% / 4 * 3);
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 767px) {
    width: calc(100% / 6 * 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 12 * 5);
  }
}

.hero__title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;

  color: var(--color-white);
  background-color: var(--color-accent);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  min-width: 200px;

  &:hover,
  &:focus {
    color: var(--color-accent);
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
